/*
Author: chris-macharia
Themes: illusion foods
version: 1.0
*/

/*CSS for all*/

*{    
  margin: 0 0;
  padding: 0 0;
  font-family:Arial, Helvetica, sans-serif ;
}
body{
  background-color: #9966ff;
}
.container{
  border: 1px solid red;
  width: 90%;
  margin: 0 auto ;
  padding: 1% ;
} 
.img-responsive{
  width: 100%;
}
.text-right{
  text-align: right;
}
.clear-fix{
  clear: both;
  float: none;
}
a{
  color: #b71540;
  text-decoration: none;
}
a:hover{
  color: #a85939;
}

/*CSS for navbar section*/

.logo{
  /* border: 1px solid black; */
  width: 15%;
  float: left;
}
.img-responsive{
  width: 100%;
}
.menu{
  line-height: 120px;
}
.menu > ul{
  list-style-type: none;
}
.menu > ul > li{
  display: inline;
  padding: 1%;
  font-weight: bold;
}
